<div class="container" style="text-align: center;">
  <h1>Games List</h1>
  <% @user.games.each do |game| %>
    <%= game.title %>
    <%= game.genres.first %>
    <br>
  <% end %>
  <br>
  <%= link_to 'Add game', new_game_path %>
</div>